:root {
    --darker-color: #292929;
    --lighter-bg: #333333;
    --light: #a29c9c;
    --tools-width: 50px;
    --layers-width: 250px;
    --header-height: 30px;
    --highlight-color: #29d496;
    --grid-color: #808080;
    --cancel-color: #b91d4f;
    --light-color-dark-bg: #fff;
}
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* components */
#app {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--darker-color);
}
#app #header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background: var(--lighter-bg);
    font-size: 0.9rem;
}
#app #tools {
    position: fixed;
    top: var(--header-height);
    height: calc(100% - var(--header-height));
    width: var(--tools-width);
    background: var(--lighter-bg);
    padding: 5px;
}
#app #layers {
    position: fixed;
    top: var(--header-height);
    right: 0;
    height: calc(100% - var(--header-height));
    width: var(--layers-width);
    background: var(--lighter-bg);
}
/* header */
.flow-inline-from-left {
    list-style: none;
    display: inline-flex;
    justify-content: left;
    margin: 0;
    padding: 0;
}
.flow-inline-from-left li {
    color: var(--light-color-dark-bg);
    text-transform: capitalize;
    padding: 1px 8px;
    position: relative;
    cursor: pointer;
    padding: 7px 8px;
}
.flow-inline-from-left li:hover {
    background: var(--darker-color);
}
.zoom-control {
    display: inline-flex;
    justify-content: right;
    color: var(--light-color-dark-bg);
}
.zoom-control .fa-minus {
   margin: 0 10px; 
   cursor: pointer;
}
.zoom-control .fa-plus {
    margin: 0 10px;
    cursor: pointer;
}
.zoom-control span {
    position: relative;
    bottom: 2px;
}
.drop-down {
    display: none;
    list-style: none;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 100;
    border: 1px solid var(--light);
    padding: 0;
    min-width: 200px;
    background: var(--lighter-bg);
}
.drop-down li {
    margin-bottom: 5px;
    cursor: pointer;
}
.drop-down li span {
    padding: 0px 5px;    
    display: inline-block;
}
.drop-down li:hover {
    background: var(--darker-color);
}
.flow-inline-from-left li:hover > .drop-down {
    display: block;
}
/* tools list */
.tools-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.tools-list li {
    cursor: pointer;
    border: 1px solid transparent;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.tools-list li:hover, .tool-focus {
    background: var(--darker-color);
    border-radius: 2px;
}
.tools-list i {
    color: var(--light-color-dark-bg);
    padding: 5px;
}
#color-picker {
    text-align: center;
}

input[type="color"].color-picker {
    border: 0;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;	border: none;
	width: 32px !important;
	height: 32px !important;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
.color-picker {
    height: 30px;
    width: 50px;
}
#config-panel {
    margin-top: 50px;
}
.settings-box {
    background: var(--lighter-bg);
    padding: 10px;
}
.tab {
    background: var(--lighter-bg);
    color: var(--highlight-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 10px;
    display: inline-block; 
}
.label {
    color: var(--light-color-dark-bg);
    display: block;
    position: relative;
    font-size: 0.8rem;
}
#app input, #app select {
    width: 87px;
}
.config-item {
    margin-bottom: 10px;
    padding: 10px;
    border-top: 1px solid #1b1717;}
.config-item span {
    color: var(--light-color-dark-bg);
}
#font-tab {
    display: none;
}
/* general */
hr {
    border: 0;
    border-top: 1px solid #fff;
    width: 22px;
}
h3 {
    position: relative;
    left: 11px;
    color: var(--light-color-dark-bg);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
}
input[type="color"] {
    border: 0;
    padding: 0;
}
/* editor pane */
#editor-pane{
    position: absolute;
    top: var(--header-height);
    left: var(--tools-width);
    width: calc(100% - var(--tools-width) - var(--layers-width));
    height: calc(100% - 30px);  
    justify-content: center;
    overflow: auto;
}
#editor-view {
    display: none;
    border: 2px dashed var(--highlight-color);
    background-image: linear-gradient(45deg, var(--grid-color) 25%, transparent 25%), 
                      linear-gradient(-45deg, var(--grid-color) 25%, transparent 25%), 
                      linear-gradient(45deg, transparent 75%, var(--grid-color) 75%), 
                      linear-gradient(-45deg, transparent 75%, var(--grid-color) 75%);
    background-size: 20px 20px;
    transform-origin: 0 0;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;   
    position: absolute;
    top: 50px;
    left: 50px;   
}
.canvas-layer {
    position: absolute;
    top: 0;
    left: 0;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2b2121; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--cancel-color);
    border-radius: 25px; 
  }
  
/* settings popup */
.settingsPopup {
    width: 360px;
    background: var(--darker-color);
    position: absolute;
    top: 50px;
    left: calc(50% - 180px);
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 1px lightgrey;
}
.settingsPopup input {
    color: #fff;
}

.margLeft15 {
    margin-left: 15px;
}
#createNewProject {
    background: var(--highlight-color);
    color: var(--light-color-dark-bg);
}
#cancelNew {
    background: var(--cancel-color);
    color: var(--light-color-dark-bg);
}
.btns {
    margin: 10px;
    border: 0;
    padding: 5px 10px;  
    cursor: pointer; 
}
.popupBtns {
    display: flex; 
    justify-content: center;
}
/* layers list */
#layers h3 {
    margin-top: 0;
    font-size: 0.9rem;
    left: 0;
    padding-left: 10px;
}
#layersList {
    height: 300px;
    overflow-y: auto;
}
.layer-image {
    border: 1px solid var(--highlight-color);
    width: 50px;
    height: auto;
    display: inline-block;
    margin: 0 auto;
}
.layer-title {
    text-align: left;
    color: var(--light-color-dark-bg);
    display: inline-block;
    position: relative;
    bottom: 14px;
    left: 10px;
    font-size: 0.8rem;
}
.layers-eye {
    padding: 5px;
    color: #9fa4b9;
    position: relative;
    bottom: 12px;
    margin-right: 10px;
    cursor: pointer;
}
.layer-item {
    position: relative;
    text-align: left;
    padding: 4px 10px 0px 10px;}
.layer-radio-button {
    position: absolute;
    left: -26px;
    top: 35px;
}
#currentOpacity {
    position: absolute;
    right: 12px;
}
#layerOpacity {
    -webkit-appearance: none; 
    appearance: none;
    width: 95% !important; 
    height: 5px;
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}
#layerOpacity::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px; 
    height: 20px;
    border:2px solid #fff; 
    background: var(--darker-color);
    cursor: pointer;
    border-radius: 50%;
}
.active-layer {
    background: #1c5588;
}